@tailwind base;
@tailwind components;
@tailwind utilities;

#showcase {
    width: 100vw;
    height: 100vh;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

